.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer; /* Adds a pointer cursor to all nav links */
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
  color: #4caf50; /* Active link color */
}

.logout-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.logout-link:hover {
  color: #ff4c4c; /* Highlight logout button on hover */
  text-decoration: underline;
}
